// BACKGROUND COLORS

// Neutrals
$bg-color-white: #ffffff;
$bg-color-black: #000000;

// Greys
$bg-color-light-grey: #f7f7f7;
$bg-color-middle-grey: #d6d6d6;
$bg-color-grey: #cccccc;
$bg-color-dark-grey: #404040;
$bg-color-black-gray: #212529;
$bg-color-night-gray: #1c2023;

// Blues
$bg-color-primary: #33b77b;
$bg-color-secondary: #0074ad;

// TEXT COLORS

// Neutrals

$text-color-white: #ffffff;
$text-color-black: #000000;

// Greys
$text-color-grey-1: #b7b7b7;
$text-color-grey-2: #888888;
$text-color-grey-3: #777777;
$text-color-grey-4: #555555;
$text-color-gray-5: #444444;
$text-color-gray-6: #333333;
$text-color-gray-7: #212529;

// Blues
$text-color-primary: #33b77b;
