// Background colors

// Greys
$bg-color-light-grey: #f7f7f7;
$bg-color-middle-grey: #d6d6d6;
$bg-color-grey: #cccccc;
$bg-color-dark-grey: #404040;
$bg-color-black-gray: #212529;
$bg-color-night-gray: #1c2023;

// Blues
$bg-color-lapis: #0088cc;
$bg-color-acqua: #0074ad